/* Remove the navbar's default margin-bottom and rounded borders */ 
/* --------------------CSS-Quang------------------------------- */
.navbar {
margin-bottom: 0;
border-radius: 0;
}
.navbar {
border: 0;
z-index: 10;

min-height: 40px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
border-bottom: 1px solid #e7e8e9;
-webkit-box-shadow: 3px 2px 10px rgba(0,0,0,.05);
box-shadow: 3px 2px 10px rgba(0,0,0,.05);
}

#mytour
{
    padding: 0px 0px;
}
.navbar-nav li {
     font-size: 14px;
     position: relative;
     text-transform: uppercase;
}
#dropdown-tt
{
    padding-top: 15px;
    min-width: 200px;
    min-height:120px;
}

#dropdown-tt a
{
    
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
}
#dropdown-tt a:hover
{
    color:blue;
    
}


#dropdown-tt hr {
    margin-top:3px;
    margin-bottom:3px;
    border: 0;
    border-top: 1px solid #eee;
}

#dropdown-tk
{
    padding-top: 15px;
    width: 100px;
    min-height:120px;
    text-align: center;
}

#dropdown-tk hr {
    margin-top:3px;
    margin-bottom:3px;
    border: 0;
    border-top: 1px solid #eee;
}
.navbar-nav p
{
    margin: 0px;
}
.phone-call
{
    text-align:center;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
   
}
.line
{
border: 1px solid #e7e8e9;
    border-bottom: 0;
    border-top: 0px;
   
}
.navbar-nav .phanhoi a
 {
    padding-top: 6px ;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
}

@media (min-width: 768px)
{
.navbar-right .dropdown-menu {
    right: 0; 
    left:0;
}
}
 .title-sm
 {
    color: #555;
    font-size: 16px;
    border-bottom: 1px solid #cbd3db;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding-top: 20px;
}
.panel-heading
{
    text-align: center;
}
.panel-footer
{
    text-align: center;
}

/* -------------------------------close-Css-Quang-------------------- */
